{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Crie um novo post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite aqui o título do seu post" class="form-control" value="{{ request.form['title'] }}">
    </div>
    <div class="form-group">
        <label for="content">Conteúdo</label>
        <textarea name="content" placeholder="Digite aqui o conteúdo do seu post" class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}